html, body {
  font-size: 10px;
  font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  margin: 0px;
  background: #503750;
}

h1{
  line-height: 1.2;
  margin: 0px;
  padding: 0px;
  font-weight: 900;
  max-width: 100%;
  width: auto;
  color: #B49BC8;
  display: inline-block;
  font-size: calc(24px + 8 * ((100vw - 320px) / 160));
}

<p>{

  color: #B49BC8;
}
<h2>{

  color: #B49BC8;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.menufora{

position: relative;
top: 0;
font-family: Circular,spotify-circular,Helvetica,Arial,sans-serif;
font-size: 16px;
font-weight: 400;
line-height: 1.5;
min-height: 54px;
background-color: #000000;

}

.txtcentro{
  width: 30%;
  height: 30%;
  position: absolute;

  top: 40%;
  left: 50%;
  padding: 0px 0px 0px 0px;
  font-family: adobe-clean,Source Sans Pro,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,sans-serif;
  font-color: red;
}
.menu {
  background-color: #FFFFFF;
  height: 4rem;
}
.menu ol{
  list-style-type: none;
  margin: 0 auto;
  padding: 0px 0px 0px 0px;/*externo*/
}

.menu > ol > li{
  list-style-type: none;
  margin: 0 auto;
  padding: 12px 12px 12px 12px;/*menu*/
}
.menu > ol {
  max-width: 1000px;
  display: flex;
}
.menu > ol > .menu-item {
  flex: 1;
  padding: 0.75rem 0;
}
.menu > ol > .menu-item:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  bottom: 5px;
  left: calc(50% - 2px);
  background-color: #FFFFFF;
  will-change: transform;
  transform: scale(0);
  transition: transform 0.2s ease;
}
.menu > ol > .menu-item:hover:after {
  transform: scale(1);
}
.menu-item {
  position: relative;
  line-height: 2.5rem;
  text-align: center;
  padding: 0px 0px 0px 0px;
}
.menu-item a {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: block;
  color: #2C2C2C;/* Cor da letra do menu*/
  padding: 0px 12px 0px 50px;
  font-weight: bold;
}
.sub-menu .menu-item {
  padding: 0.75rem 0;
  background-color: #FFFFFF
  opacity: 0;
  transform-origin: bottom;
  animation: enter 0.2s ease forwards;
}
.sub-menu .menu-item:nth-child(1) {
  animation-duration: 0.2s;
  animation-delay: 0s;
}
.sub-menu .menu-item:nth-child(2) {
  animation-duration: 0.3s;
  animation-delay: 0.1s;
}
.sub-menu .menu-item:nth-child(3) {
  animation-duration: 0.4s;
  animation-delay: 0.2s;
}
.sub-menu .menu-item:hover {
  background-color: #FFFFFF
}
.sub-menu .menu-item a {
  padding: 0 0.75rem;
}
@media screen and (max-width: 600px) {
  .sub-menu .menu-item {
    background-color: #FFFFFF
  }
}

@media screen and (max-width: 600px) {
  .menu {
    position: relative;
  }
  .menu:after {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    right: 1rem;
    width: 30px;
    height: 4px;
    background-color: #2C2C2C;
    box-shadow: 0 10px #2C2C2C, 0 -10px #2C2C2C;
  }
  .menu > ol {
    display: none;
    background-color: #FFFFFF
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    animation: fade 0.2s ease-out;
  }
  .menu > ol > .menu-item {
    flex: 0;
    opacity: 0;
    animation: enter 0.3s ease-out forwards;
  }
  .menu > ol > .menu-item:nth-child(1) {
    animation-delay: 0s;
  }
  .menu > ol > .menu-item:nth-child(2) {
    animation-delay: 0.1s;
  }
  .menu > ol > .menu-item:nth-child(3) {
    animation-delay: 0.2s;
  }
  .menu > ol > .menu-item:nth-child(4) {
    animation-delay: 0.3s;
  }
  .menu > ol > .menu-item:nth-child(5) {
    animation-delay: 0.4s;
  }
  .menu > ol > .menu-item + .menu-item {
    margin-top: 0.75rem;
  }
  .menu > ol > .menu-item:after {
    left: auto;
    right: 1rem;
    bottom: calc(50% - 2px);
  }
  .menu > ol > .menu-item:hover {
    z-index: 1;
  }
  .menu:hover > ol {
    display: flex;
  }
  .menu:hover:after {
    box-shadow: none;
  }
}

.sub-menu {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
}
.menu-item:hover > .sub-menu {
  display: block;
}

@media screen and (max-width: 600px) {
  .sub-menu {
    width: 100vw;
    left: -2rem;
    top: 50%;
    transform: translateY(-50%);
  }
}



* {
  box-sizing: border-box;
}
*:before, *:after {
  box-sizing: inherit;
}

@keyframes enter {
  from {
    opacity: 0;
    transform: scaleY(0.98) translateY(10px);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
